<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Flame3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Flame3.Properties.Settings.Химическая_кинетикаConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\Химическая кинетика.accdb&quot;;Persist Security Info=True"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <userSettings>
        <Flame3.Properties.Settings>
            <setting name="T" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="N" serializeAs="String">
                <value>9.41E-06</value>
            </setting>
            <setting name="tetta" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Ew" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DC" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="de" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="eLength" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ePrecision" serializeAs="String">
                <value>0.001</value>
            </setting>
            <setting name="Precision" serializeAs="String">
                <value>0.003</value>
            </setting>
            <setting name="EEDFrequency" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="PlotFrequency" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="FormatFrequency" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="dtInit" serializeAs="String">
                <value>1E-25</value>
            </setting>
            <setting name="ReductionFrequency" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="ReductionFrequency2" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ReductionLimit" serializeAs="String">
                <value>1E-30</value>
            </setting>
            <setting name="MaxPrograms" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GammaMin" serializeAs="String">
                <value>1E-100</value>
            </setting>
            <setting name="eCalcLength" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="eApprFrom" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="eApprTo" serializeAs="String">
                <value>170</value>
            </setting>
            <setting name="СriticalOscillationFactor" serializeAs="String">
                <value>0.15</value>
            </setting>
            <setting name="LastReductionScheme" serializeAs="String">
                <value />
            </setting>
            <setting name="ApplyReduction" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WriteData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoCalcStep" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EnableAutomation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastDataSet" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoSaveDataSet" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoSaveDataSetInterval" serializeAs="String">
                <value>1E-06</value>
            </setting>
            <setting name="AutoLoadIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoLoad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoLoadInvert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="C3H8GammaMin" serializeAs="String">
                <value>1E-10</value>
            </setting>
            <setting name="EGammaMax" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="KCAlpha" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="KCReactions" serializeAs="String">
                <value />
            </setting>
            <setting name="KCIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KCT1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KCT2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReductionFactor" serializeAs="String">
                <value>0.95</value>
            </setting>
            <setting name="ReductionFile" serializeAs="String">
                <value />
            </setting>
            <setting name="ConstTetta" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AreaSize" serializeAs="String">
                <value>0</value>
            </setting>
        </Flame3.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
